<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">
	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-NKSXN89');</script>
	<!-- End Google Tag Manager -->
	<title>Fafiltec - Faculdade FIladélfia de Tecnologia</title>
	<!-- Meta Pixel Code -->
	<script>
		!function (f, b, e, v, n, t, s) {
			if (f.fbq) return; n = f.fbq = function () {
				n.callMethod ?
					n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			};
			if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
			n.queue = []; t = b.createElement(e); t.async = !0;
			t.src = v; s = b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t, s)
		}(window, document, 'script',
			'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '188202277552714');
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
			src="https://www.facebook.com/tr?id=188202277552714&ev=PageView&noscript=1" /></noscript>
	<!-- End Meta Pixel Code -->
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKSXN89" height="0" width="0"
			style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div class="header">
		<img src="img/logo.png" alt="logo fafiltec">
		<div class="header-login"><a href="/instructions">
				<i class=" fa-solid fa-lock"></i>
				<div>Login</div>
			</a></div>
	</div>
	<div class="header-desk">
		<div class="logo-desk">
			<img src="img/logo.png" alt="Logo fafiltec">
		</div>
		<div class="title-desk">
			<h1>Lentes de Contato Contemporâneas e Controle de Miopia</h1>
		</div>
		<div class="login-desk">
			<div class="login-desk1">
				<i class="fa-solid fa-key"></i>
				<div><a href="#form-anchor">Inscreva-se</a></div>
			</div>
		</div>
	</div>
	</div>
	<div class=" main-info-desk">
		<div class="left-side">
			<div class="boxes">
				<div class="box">
					<i class="fa-solid fa-graduation-cap"></i>
					<div>Formaçao</div>
					<div>Pós-graduação</div>
				</div>
                <div class="box">
					<i class="fa-regular fa-calendar"></i>
					<div>Duração</div>
					<div>1 ano</div>
				</div>
				<div class="box">
					<i class="fa-solid fa-chalkboard-user"></i>
					<div>Modalidade</div>
					<div>Semi-presencial</div>
				</div>
			</div>
			<div class="main-info-desk-text">Você está a um passo de se tornar um especialista em Lestes de Contato e Controle de Miopia</div>
			<div class="main-info-desk-btn"><a href="#form-anchor">Matricule-se</a></div>
		</div>
		<div class="right-side">
			<img src="img/opto.png" alt="optometrista realizando um exame">
			<div>A FAFILTEC é credenciada pelo MEC com nota máxima</div>
			<div class="fivestar">
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
			</div>
		</div>
	</div>
	<div class="more-info-desk-title">
		<div>Por que escolher a FAFILTEC?</div>
	</div>
    <div>
        <h1 class="more-info-desk-subtitle">Aprenda com os melhores da área e contribua no controle de miopia!</h1>
    </div>
	<div class="more-info-desk">
		<div class="top-row">
			<div class="square">
				<i class="fa-solid fa-medal"></i>
				<div>Semipresencial: Ah, a flexibilidade! A pós é semipresencial, facilitando a vida para que você possa
                    conciliar estudos e outras atividades
				</div>
			</div>
			<div class="square">
				<i class="fa-solid fa-briefcase"></i>
				<div>Áreas do conhecimento: Optometria, cuidado visual e ocular primário – Disciplinar. Uma base
                    sólida para se destacar nesse universo!
				</div>
			</div>
			<div class="square">
				<i class="fa-solid fa-pen"></i>
				<div>Subárea de conhecimento: Contatologia, superfície anterior, optometria clínica. Vamos aprofundar
                    em detalhes essenciais! </div>
			</div>
		</div>
		<div class="bottom-row">
			<div class="square">
				<i class="fa-solid fa-graduation-cap"></i>
				<div>Carga horária: Ao todo, 360 horas de imersão! Com 240 horas presenciais e 120 online
                    (síncronas), para enriquecer ainda mais sua experiência.</div>
			</div>
			<div class="square">
				<i class="fa-solid fa-headset"></i>
				<div>Duração: Apenas 12 meses, divididos em quatro módulos de 90 horas cada, você vai se tornar um
                    expert nesse campo fascinante! </div>
			</div>
		</div>
	<div>
			<div class="more-info-desk-btn"><a href="#courseinfo">Conheça o curso!</a></div>
		</div>
	</div>
	<div class="main-info">
		<div>Lentes de Contato Contemporâneas e Controle de Miopia</div>
		<div class="main-info-icon">
			<i class="fa-regular fa-star"></i>
			<div>Este curso é reconhecido pelo MEC</div>
		</div>
	</div>
	<div class="icons">
		<div class="icons-child">
			<i class="fa-regular fa-clock"></i>
			<div class="icons-text">
				<div>Duração:</div>
				<div>1 ano</div>
			</div>
		</div>
		<div class="icons-child">
			<i class="fa-solid fa-pen"></i>
			<div class="icons-text">
				<div>Modalidade:</div>
				<div>Semi-presencial</div>
			</div>
		</div>
	</div>
	<div class="icon-btn">
		<div class="icon-btn-btn"><a href="#form">Inscreva-se</a></div>
	</div>
	<div class="more-info">
		<div>Por que escolher a FAFILTEC?</div>
	</div>
	<div class="more-info-mobile">
		<div class="more-info-icons">
			<i class="fa-solid fa-medal"></i>
			<div>Mais de 20 anos de experiencia na educação profissionalizante na área da Saúde Visual</div>
		</div>
		<div class="more-info-icons">
			<i class="fa-solid fa-pencil"></i>
			<div>Aulas práticas todo semestre, próximo a você</div>
		</div>
		<div class="more-info-icons">
			<i class="fa-solid fa-briefcase"></i>
			<div>Curso desenvolvido para preparar o aluno apra o mercado de trabalho</div>
		</div>
		<div class="more-info-icons">
			<i class="fa-solid fa-graduation-cap"></i>
			<div>Temos amplo conhecimento e vivência com a realidade do profissinal optometrista como agente
				primário da
				visão</div>
		</div>
		<div class="more-info-icons">
			<i class="fa-solid fa-laptop"></i>
			<div>Material didático de qualidade online</div>
		</div>
	</div>
	<div class="more-info-btn">
		<div class="more-info-btn-btn"><a href="https://fafiltec.edu.br/bacharel-em-optometria/">Conheça o curso</a>""
		</div>
	</div>
	<div class="info-container">
		<h1>SEU MAIOR</h1>
		<h1><span class="span-bold">INVESTIMENTO É VOCÊ</span></h1>
	  </div>
	  <div class="info-container-content">
		<div class="info-container-content-left">
		  <h2>Mercado de trabalho </h2>
		  <p>Na pós-graduação em lentes de contato contemporâneas e controle de miopia, você terá acesso a aulas com os melhores profissionais do ramo e aulas presenciais com o equipamento necessário para manejo do cenário apresentado. Nossa proposta é de investir em uma estrutura que proporcione um aprendizado coerente com as demandas da sociedade atual e competitividade do mercado de trabalho.</p>
		  <div class="button-orange3">
			<a href="#form">Garanta seu desconto!</a>
		  </div>
		</div>
		<div class="info-container-content-right">
		  <h1>INVESTIMENTO</h1>
		  <p class="info-container-content-right-price">R$<span class="extra-bold">1550</span>,00*</p>
		  <p class="info-container-content-right-date">*15 mensalidades</p>
		</div>
	  </div>
	<div class="info-matriz" id="matriz">
		<div>Matriz Curricular</div>
		<div>Confira as matérias que você vai estudar durante sua jornada</div>
	</div>
	<div class="info-matriz-pdf">
		<div>Módulo 1</div>
		<i class="fa-solid fa-plus" id="action-btn"></i>
	</div>
	<div class="info-matriz-pdf-text" id="container">
		<div>
			<li>Guias de adaptação de lentes gelatinosas + Guias de adaptação de lentes rígidas</li>
		</div>
	</div>
	<div class="info-matriz-pdf">
		<div>Módulo 2</div>
		<i class="fa-solid fa-plus" id="action-btn"></i>
	</div>
	<div class="info-matriz-pdf-text" id="container">
		<div>
			<li>Lentes gelatinosas + Lentes de contato rígidas + Lentes de contato avançadas</li>
		</div>
	</div>
	<div class="info-matriz-pdf">
		<div>Módulo 3</div>
		<i class="fa-solid fa-plus" id="action-btn"></i>
	</div>
	<div class="info-matriz-pdf-text" id="container">
		<div>
			<li>Manejo das complicações</li>
		</div>
	</div>
	<div class="info-matriz-pdf">
		<div>Módulo 4</div>
		<i class="fa-solid fa-plus" id="action-btn"></i>
	</div>
	<div class="info-matriz-pdf-text" id="container">
		<div>
			<li>Guias de adaptação de lentes gelatinosas para o controle de miopia + Guias de
                adaptação de lentes avançadas para o controle de miopia + Outras formas terapêuticas no
                controle de miopia</li>
		</div>
	</div>
	<div class="diference">
		<div class="diference-title">
			<div>Diferenciais de Fazer FAFILTEC</div>
		</div>
		<div class="diference-image">
			<div class="row">
				<div class="image">
					<img src="img/difrerence1.jpg" alt="Alunos da fafiltec na aula prática">
					<div class="text-container">
						<div class="text">Atividades práticas que se relacionam com as teorias.</div>
					</div>
				</div>
				<div class="image">
					<img src="img/difrerence2.jpg" alt="Alunos da fafiltec na aula prática">
					<div class="text-container">
						<div class="text">Proposta educacional inovadora</div>
					</div>
				</div>
				<div class="image">
					<img src="img/difrerence3.jpg" alt="Alunos da fafiltec na aula prática">
					<div class="text-container">
						<div class="text">Liberdade de ajuste de locais de aula na metodologia EAD.</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="image">
					<img src="img/difrerence4.jpg" alt="Alunos da fafiltec na aula prática">
					<div class="text-container">
						<div class="text">Material didático de qualidade disponivel online.</div>
					</div>
				</div>
				<div class="image">
					<img src="img/difrerence5.jpg" alt="Alunos da fafiltec na aula prática">
					<div class="text-container">
						<div class="text">Capacitação técnica e profissional, dinâmica e atualizada</div>
					</div>
				</div>
				<div class="image">
					<img src="img/difrerence6.jpg" alt="Alunos da fafiltec na aula prática">
					<div class="text-container">
						<div class="text">Formulação de soluções para problemas reais do mercado de
							trabalho.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="info-course" id="courseinfo">
		<div class="info-course-title">
			<div>Sobre o curso</div>
			<div>Confira as matérias que você vai estudar durante sua jornada</div>
		</div>
		<div class="info-course-matriz">
			<div class="course-top-row">
				<div class="rectangle">
					<div class="info-matriz-pdf-desk">
						<div>Módulo 1</div>
						<i class="fa-solid fa-plus" id="action-btn"></i>
					</div>
					<div class="info-matriz-pdf-text-desk" id="container">
						<div>
							<li>Guias de adaptação de lentes gelatinosas + Guias de adaptação de lentes rígidas</li>
						</div>
					</div>
				</div>
				<div class="rectangle">
					<div class="info-matriz-pdf-desk">
						<div>Módulo 2</div>
						<i class="fa-solid fa-plus" id="action-btn"></i>
					</div>
					<div class="info-matriz-pdf-text-desk" id="container">
						<div>
							<li>Lentes gelatinosas + Lentes de contato rígidas + Lentes de contato avançadas</li>
						</div>
					</div>
				</div>
				<div class="rectangle">
					<div class="info-matriz-pdf-desk">
						<div>Módulo 3</div>
						<i class="fa-solid fa-plus" id="action-btn"></i>
					</div>
					<div class="info-matriz-pdf-text-desk" id="container">
						<div>
							<li>Manejo das complicações</li>
						</div>
					</div>
				</div>
				<div class="rectangle">
					<div class="info-matriz-pdf-desk">
						<div>Módulo 4</div>
						<i class="fa-solid fa-plus" id="action-btn"></i>
					</div>
					<div class="info-matriz-pdf-text-desk" id="container">
						<div>
							<li>Guias de adaptação de lentes gelatinosas para o controle de miopia + Guias de
                                adaptação de lentes avançadas para o controle de miopia + Outras formas terapêuticas no
                                controle de miopia</li>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-subscribe">
		<div class="info-matriz2" id="form-anchor">
			<div>Faça sua inscrição</div>
			<div>Você está a um passo de dar um salto em sua carreira estamos ansisos para lhe receber</div>
		</div>
		<form class="form-subscribe" id="form" action="/registry" method="post">
			<input type="text" id="name" name="name" placeholder="Nome Completo" />
			<input type="text" name="document" id="document" class="input-text" placeholder="CPF (apenas números)"
				pattern="\d*" maxlength="11" title="digite apenas números" onblur="cpfValidator()" required>
			<input type="text" name="birthdate" id="birthdate" class="input-text" placeholder=" Data de Nascimento"
				pattern="\d{2}\/\d{2}\/\d{4}" title="Digite a data no formato dd/mm/aaaa" onkeyup="dateMask()"
				maxlength="10" required>
			<input type="text" name="your_email" id="your_email" class="input-text" pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}"
				placeholder="Seu melhor e-mail" title="Por favor, insira um e-mail válido" required>
			<input type="text" name="mobile" id="mobile" class="input-text" pattern="\(\d{2}\)\d{5}\-\d{4}"
				placeholder="Celular" title="Digite o celular no formato (XX)XXXXX-XXXX" onkeyup="celMask()"
				maxlength="14" required>
			<select class="input-text" name="nacionality" id="nacionality" onChange='isForeign()' required>
				<option value="" disabled selected="selected">Nacionalidade</option>
				<option value="Brasileiro">Brasileiro</option>
				<option value="Estrangeiro">Estrangeiro</option>
			</select>
			<input type="password" name="password" id="password" class="input-text" placeholder="Senha"
				onChange="onChange()" required>
			<input type="password" name="confirm_password" id="confirm_password" class="input-text"
				placeholder="Confirme sua senha" onChange="onChange()" required>
			<select name="pole" id="pole" class="input-text" required>
				<option value="" disabled selected="selected">Escolha seu polo</option>
				<% locations.forEach(pole=> { %>
					<option value="<%=pole.alias %>" id="<%= pole.id %>">
						<%= pole.alias %>
					</option>
					<% }) %>
			</select>
			<select name="consultant" id="consultant" class="input-text" required>
				<option value="" disabled selected="selected">Escolha seu consultor</option>
				<option value="none">Não tive consultor</option>
				<% consultants.forEach(consultant=> { %>
					<option value="<%=consultant.id %>" id="<%= consultant.id %>">
						<%= consultant.nome_social %>
					</option>
					<% }) %>
			</select>
			<div class="form-checkbox">
				<label class="container">
					<p>Declaro que li o <a
							href="https://fafiltec.edu.br/wp-content/uploads/2023/11/Edital-no-1-2024.pdf"
							target="_blank">Edital
							2024-01</a></p>
					<input type="checkbox" name="checkbox" required>
					<span class="checkmark"></span>
				</label>
			</div>
			<input type="submit" name="register" class="register" value="Inscrever" action="/registry" method="post">
		</form>
	</div>

</body>
<script id="ze-snippet"
	src="https://static.zdassets.com/ekr/snippet.js?key=feca56d0-a294-47ff-afac-c293d2facad8"> </script>
<script>
	function onChange() {
		const password = document.querySelector('input[name=password]');
		const confirm = document.querySelector('input[name=confirm_password]');
		if (confirm.value === password.value) {
			confirm.setCustomValidity('');
		} else {
			confirm.setCustomValidity('As senhas precisam ser iguais');
		}

	}
	function cpfValidator() {
		if (isForeign()) {
			cpfInput.setCustomValidity('');
			return
		}
		const cpfInput = document.querySelector('input[name=document]');
		const cpf = cpfInput.value;
		function isValidCpf(cpf) {
			cpf = cpf.replace(/\D/g, '');
			if (cpf.toString().length != 11 || /^(\d)\1{10}$/.test(cpf)) return false;
			var result = true;
			[9, 10].forEach(function (j) {
				var soma = 0, r;
				cpf.split(/(?=)/).splice(0, j).forEach(function (e, i) {
					soma += parseInt(e) * ((j + 2) - (i + 1));
				});
				r = soma % 11;
				r = (r < 2) ? 0 : 11 - r;
				if (r != cpf.substring(j, j + 1)) result = false;
			});
			return result;
		}
		if (isValidCpf(cpf)) {
			cpfInput.setCustomValidity('');
		} else {
			cpfInput.setCustomValidity('Insira um cpf válido');
		}
	}
	function isForeign() {
		const nacionalityInput = document.querySelector('select[name=nacionality]');
		if (nacionalityInput.value == "Estrangeiro") {
			const cpfInput = document.querySelector('input[name=document]');
			cpfInput.setCustomValidity('');
			return true;
		} else {
			return false;
		}
	}
	function dateMask() {
		const dateInput = document.querySelector('input[name=birthdate]');
		var date = dateInput.value;
		if (window.event.keyCode == 8) { // ignore backspace
		} else if (date.match(/^\d{2}$/) !== null) {
			dateInput.value = date + '/';
		} else if (date.match(/^\d{2}\/\d{2}$/) !== null) {
			dateInput.value = date + '/';
		}
	}
	function celMask() {
		const mobileInput = document.querySelector('input[name=mobile]');
		var mobile = mobileInput.value;
		if (window.event.keyCode == 8) { // ignore backspace
		} else if (mobile.match(/^\d{1}$/) !== null) {
			mobileInput.value = '(' + mobile;
		} else if (mobile.match(/^\(\d{2}$/) !== null) {
			mobileInput.value = mobile + ')';
		} else if (mobile.match(/^\(\d{2}\)\d{5}$/) !== null) {
			mobileInput.value = mobile + '-';
		}
	}


	const makeCollapsable = (itemName) => {
		var coll = document.getElementsByClassName(itemName);
		var i;

		for (i = 0; i < coll.length; i++) {
			coll[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var content = this.nextElementSibling;
				console.log(content)
				if (content.style.display === "block") {
					content.style.display = "none";

				} else {
					content.style.display = "block";
				}
			});
		}
	}
	makeCollapsable("info-matriz-pdf");
	makeCollapsable("info-matriz-pdf-desk");

</script>

</html>